
<%# <p>Find me in app/views/pages/home.html.erb</p> %>




<div class= "container">


  <%=image_tag "bookgogo.png", alt: 'log1', style:"max-width: 100%; height: auto" %>
     
   
  
</div>



<br>




<div class="container">
<div class="jumbotron" style="background-color: #d3dbce;">
  <h4 class="display-6">INGRESA A NUESTRA COMUNIDAD DE INTERCAMBIA DE LIBROS</h4>
  <p class="text-justify">Buscamos poner en contacto a quienes estén interesados en intercambiar, donar y regalar Libros. Los usuarios pueden ponerse de acuerdo según sus necesidades, gustos y  juntarse para realizar el intercambio.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <%# <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> %>
    <button type="button" class="btn btn-sm btn-warning">REGISTRA</button>
    <button type="button" class="btn btn-sm btn-warning">BUSCA</button>
    <button type="button" class="btn btn-sm btn-warning">CAMBIA</button>
</div>
</div>






























