
<%# <p>Find me in app/views/pages/home.html.erb</p> %>




<div class= "container">


  <%=image_tag "bookgook.png", alt: 'log1', style:"max-width: 100%; height: auto" %>
     
   
  
</div>



<br>




<div class="container">
  <div class="jumbotron" style="background-color: #d3dbce;">
    <h1 class="display-6">¿Qué vas a leer? </h1>
    <h2 class="display-6">Descubre tu próxima lectura, comparte tus opiniones, conoce a otros lectores</h2>

  <p class="text-justify">BookGo es un proyecto que busca fomentar la lectura, por medio del analisis de tus libros los cuales podras subir en esta plataforma y poder difundir el amor por los libros.</p>
  
</div>
</div>






























